@font-face {
    font-family: "HelveticaNowDisplay";
    src: url(./fonts/HelveticaNowDisplay-Light.ttf);
    font-weight: 300;
    font-style: light;
  }
  @font-face {
    font-family: "HelveticaNowDisplay";
    src: url(./fonts/HelveticaNowDisplay-ExtraBold.ttf);
    font-weight: 700;
    font-style: bold;
  }
//   @font-face {
//     font-family: "TitlingGothicFB";
//     src: url(./fonts/TitlingGothicFB/TitlingGothicFBNor-Bold.otf);
//     font-weight: 700;
//     font-style: bold;
//   }
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700|Poppins:300,400,500&display=swap');
  
.heading {
    font-family: 'Cormorant Garamond', serif; 
} 